body {
 background-image: url('1244978.jpg'); 
 background-size: cover;
 color: white;
}
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;   
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.logo {
    width: 100px;
    height: 100px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5x;
}
.intro {
    font-size: 25px;
    text-align: center;
   
}
.date {
    margin: 30px;
    padding: 10px;
}

button {
    color: white;
    font-size: 20px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

button:hover {
    transition: 1s ease-in-out;
    background: #1a2025;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    
}

div {
    margin-left: 200px;
    margin-right: 200px;
}

h2,p {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
}

img {
    padding: 5px;
    width: 500px;
    height: 500px;
}

iframe {
    padding: 5px;   
    width: 500px;
    height: 300px;
    cursor: pointer;
}

.footer {
    padding: 10px;
    text-align: center;
    font-weight: bold;
   
}


@media (max-width: 700px) {
body {
    width: fit-content;
    height: fit-content;
    background-size:auto;

}
 div, .intro {
    font-size: 20px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    font-size: 25px;
}

 
img, iframe {
    width: 200px;
    height: 200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
}